<section class="discover-movies">
  <%= button_to "Discover Movies", discover_index_path, method: :get %>
</section>

<section class="friends">
  <h1>Friends</h1>
</section>

<section class="viewing-party">
  <h1>Viewing Parties</h1>
</section>
