---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/10206?api_key=SECRET_TMDB_API_KEY&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 74abc40a6046f256f70854f24d356d08
      X-Memc-Age:
      - '2335'
      X-Memc-Expires:
      - '19265'
      Etag:
      - W/"9f63238798873e8c17b52ba74ee7aaf2"
      Last-Modified:
      - Wed, 26 Aug 2020 22:05:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/v9BNwCSm67p90O2BbukcsjDclP9.jpg","belongs_to_collection":null,"budget":7000000,"genres":[{"id":28,"name":"Action"},{"id":35,"name":"Comedy"},{"id":27,"name":"Horror"}],"homepage":"","id":10206,"imdb_id":"tt0103893","original_language":"en","original_title":"Buffy
        the Vampire Slayer","overview":"Blonde, bouncy Buffy is your typical high
        school cheerleader: her goal is to \"marry Christian Slater and die,\" and
        nothing gets in her way when it''s time to shop! But all that changes when
        a strange man informs her she''s been chosen by fate to kill vampires.  With
        the help of a romantic rebel, Buffy is soon spending school nights protecting
        L.A. from Lothos the Vampire King, his sidekick, Lefty, and their determined
        gang of bloodsuckers. It''s everything you''d expect from a teen queen in
        the Valley.","popularity":10.784,"poster_path":"/so4tTMItoq90wphs18lWbV0ASVV.jpg","production_companies":[{"id":23236,"logo_path":null,"name":"Sandollar","origin_country":""},{"id":2516,"logo_path":null,"name":"Kuzui
        Enterprises","origin_country":"US"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
        Century Fox","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1992-07-24","revenue":16624456,"runtime":86,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"She
        knows a sucker when she sees one.","title":"Buffy the Vampire Slayer","video":false,"vote_average":5.5,"vote_count":462,"credits":{"cast":[{"cast_id":1,"character":"Buffy
        Summers","credit_id":"52fe43429251416c75009819","gender":1,"id":56128,"name":"Kristy
        Swanson","order":0,"profile_path":"/8gPVElKDCBllmfIP0pjZL9zISKv.jpg"},{"cast_id":2,"character":"Merrick
        Jamison-Smythe","credit_id":"52fe43429251416c7500981d","gender":2,"id":55636,"name":"Donald
        Sutherland","order":1,"profile_path":"/pvk7fjJNg9kZQTeuG6ZlfJ8t2Ze.jpg"},{"cast_id":3,"character":"Amilyn","credit_id":"52fe43429251416c75009821","gender":2,"id":5129,"name":"Paul
        Reubens","order":2,"profile_path":"/7T0ExonMf6PAvphKVaTm73BXdLW.jpg"},{"cast_id":4,"character":"Lothos","credit_id":"52fe43429251416c7[...]
