---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/724089?api_key=SECRET_TMDB_API_KEY&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8064efce63b52d0889d69a823f040eb4
      X-Memc-Age:
      - '14011'
      X-Memc-Expires:
      - '7589'
      Etag:
      - W/"1943739ce57d0a52f4ca5b245312ee37"
      Last-Modified:
      - Wed, 26 Aug 2020 19:09:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":null,"backdrop_path":null},"budget":0,"genres":[{"id":10749,"name":"Romance"}],"homepage":"https://watch.passionflix.com/watch/f299fa17-5a2b-4fee-b53a-a4651747431b","id":724089,"imdb_id":"tt11641654","original_language":"en","original_title":"Gabriel''s
        Inferno Part II","overview":"Professor Gabriel Emerson finally learns the
        truth about Julia Mitchell''s identity, but his realization comes a moment
        too late. Julia is done waiting for the well-respected Dante specialist to
        remember her and wants nothing more to do with him. Can Gabriel win back her
        heart before she finds love in another''s arms?","popularity":17.773,"poster_path":"/pci1ArYW7oJ2eyTo2NMYEKHHiCP.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[],"release_date":"2020-07-31","revenue":0,"runtime":0,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
        Inferno Part II","video":false,"vote_average":9.1,"vote_count":700,"credits":{"cast":[{"cast_id":1,"character":"Julia
        Mitchell","credit_id":"5f25dbe72d8ef30035d4c8d8","gender":1,"id":1312450,"name":"Melanie
        Zanetti","order":1,"profile_path":"/2JNL4WR2eloqpoYxZPOe54gE4aG.jpg"},{"cast_id":2,"character":"Gabriel
        Emerson","credit_id":"5f25dbff0231f200381c6aca","gender":2,"id":544002,"name":"Giulio
        Berruti","order":2,"profile_path":"/ktPKniWGVkm6eBG7a2R7WGd96kZ.jpg"},{"cast_id":3,"character":"Paul
        Norris","credit_id":"5f25dec27d41aa0035679e49","gender":0,"id":2345991,"name":"James
        Andrew Fraser","order":3,"profile_path":null},{"cast_id":4,"character":"Christa
        Peterson","credit_id":"5f25dedf8d1b8e0[...]
